<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>control.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>control.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>control.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>control.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartItemController</servlet-name>
        <servlet-class>control.RemoveCartItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartItemController</servlet-name>
        <servlet-class>control.UpdateCartItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateOrderController</servlet-name>
        <servlet-class>control.CreateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>control.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProductController</servlet-name>
        <servlet-class>control.DetailProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCataController</servlet-name>
        <servlet-class>control.SearchCataController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductController</servlet-name>
        <servlet-class>control.UpdateProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertProductController</servlet-name>
        <servlet-class>control.InsertProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductController</servlet-name>
        <servlet-class>control.DeleteProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>control.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutControllerv2</servlet-name>
        <servlet-class>control.CheckOutControllerv2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>control.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartItemController</servlet-name>
        <url-pattern>/RemoveCartItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartItemController</servlet-name>
        <url-pattern>/UpdateCartItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateOrderController</servlet-name>
        <url-pattern>/CreateOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProductController</servlet-name>
        <url-pattern>/DetailProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCataController</servlet-name>
        <url-pattern>/SearchCataController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductController</servlet-name>
        <url-pattern>/UpdateProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertProductController</servlet-name>
        <url-pattern>/InsertProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductController</servlet-name>
        <url-pattern>/DeleteProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutControllerv2</servlet-name>
        <url-pattern>/CheckOutControllerv2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/LoginGoogleServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
